.authButton {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #4fa4ff;
  border-radius: 5px;
  text-decoration: none;
}

.authButton:hover {
  background-color: #0056b3;
  color: white;
}

.authButton:active {
  background-color: #004085;
  color: white;
}
