body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: rgb(241, 241, 241);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #0d87f8;
  border-radius: 8px;
  background-color: #a2cffc;
  color: #000;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 0 auto;
  max-width: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

a {
  cursor: default;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
